/* Yellow: #FFF33D */
/* Blue: #0048FF */
/* Red: #FC3E46 */

/* Fonts */
@font-face {
    font-family: Rubik-bold;
    src: url(./fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-regular;
    src: url(./fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-light;
    src: url(./fonts/Rubik/Rubik-Light.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);;
}

@font-face {
    font-family: Roboto-light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background: url('./images/background.png') fixed;
    background-size: 100%;
    object-fit: cover;
    width: 100%;
    background-size: contain;
}

.people g g g line {
    display: none
}

text {
    font-family: Roboto-light;
    
}

.people g g g text {
    font-size: 1.5em;
}

#top {
    height: 100vh;
}

#bottom {
    height: 80vh;
}

#top__container{
    background-color: black;
    width: 85%;
    margin: 2em auto;
    /* padding-bottom: 3rem; */
}

.main-title {
    font-family: Rubik-regular;
    font-size: 3em;
    width: 10em;
}

.sub-title {
    font-family: Rubik-regular;
    color: white;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5em;
}

#filter {
    font-family: Roboto-light;
    width: 10em;
    margin-right: 2em;
    margin-top: 3em;
}

#filter h4 {
    font-family: Roboto-medium;
}

select {
    padding: 1em;
    color: white;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
}

option {
    padding: 10em;
}

select:focus {
    outline: none;
}

.dot__container {
    display: flex;
    align-items: center;
}

/* Top content */
#top-top {
    display: flex;
}

.amsterdam {
    font-family: Rubik-light;
    color: rgb(255, 246, 116);
}

#color-scheme {
    height: 10em;
    margin-right: 1.75em;
}

#guy-logo {
    height: 8em;
    margin-top: 2em;
}

h1 {
    color: #FFF33D;
  
}

.boldyellow {
    font-family: Rubik-bold;
    color: #FFF33D;
}

h2 {
    color: white;
    font-family: Roboto-regular;
    padding: 0em;
    color: #FFF33D;
}

.title {
    text-align: left;
    margin-left: .6em;
    width: 30em;
    font-family: Roboto-regular;
}

#introduction__container {
    width: 50%;
    padding: .5em 1.5em;
    margin-left: 4%;
}

.introduction {
   color: white;
   font-family: Roboto-light;
   line-height: 1.5em;
}

#visualisations__container {
    position: relative;
    color: white;
    background-color: black;
    width: 85%;
    height: 90%;
    margin: 0em auto;
    padding-top: 1em;
    margin-bottom: 5em;
}

.yellow {
    color: #FFF33D;
    font-family: Rubik-bold;
}

.blue {
    color: #0048FF;
}

.step-1-numbers {
    display: flex;
    align-items: center;
}

.big-number {
    font-size: 3em;
}

.big-text {
    font-size: 2em;
}

/* Pie chart */
.chart-with-legend__container {
    display: flex;
    margin-left: 4em;
}

.tooltip-flex {
    display: flex;
}

.pie__container {
    display: flex;
    margin-top: 1em;
}

.pie__container p {
    font-family: Roboto-light;
    margin-left: 4em;
    width: 9.5em;
}

.first-sentence {
    margin-left: 4em;
    font-family: Roboto-light;
    max-width: 35%;
}

.sentence-big {
    max-width: 50%;
}

.special-first-sentence {
    max-width: 20em;
}

.pie g path:hover {
    opacity: 0.9
}

.steelblue {
    color: #8186d5;
}

.grey {
    color: #a3a3a3;
}

/* Bar chart */
#bar__container {
    display: flex;
    flex-direction: row;
    margin-left: 4em;
}

.stack g g rect:hover {
    cursor: pointer;
}

/* Trust grades */
#trust__container {
    width: 60%;
    font-family: Roboto-regular;
    display: flex;
    margin: 3em 0em 0em 4em;
}

#trust-grades__container {
    display: flex;
}

.trust-grade__container {
    color: white;
    max-width: 25%;
}

.trust-grade__container h3 {
    height: 2em;
    margin-bottom: 3em;
    margin-top: 0.2em;
}

.trust-grade__container p {
    font-size: 3em;
    margin: 0em 0em .3em 0em;
}

/* Legend */
.legend-title {
    color: white;
}

.legend-icon {
    width: 7em;
    margin-right: 1em;
}

.legend li {
    margin-bottom: .5em;
}

.step2-legend {
    list-style: none;
    font-family: Roboto-medium;
    margin-top: 7em;
    margin-left: 2em;
}

.legend {
    list-style: none;
    font-family: Roboto-medium;
    margin: 0;
}

.special-legend {
    margin-right: 6em;
}

.li-1, .li-2 {
    display: flex;
    align-items: center;
}

.li-1 {
    margin-bottom: 2em;
}

.NL {
    color: #494CA2;
}

.WM {
    color: #8186d5;
}

.NWM {
    color: #c6cbef;
}

.geenContact{
    color: #a3a3a3;
}

.legend-me-to-police {
    border: 2px solid transparent;
    background-color: grey;
    padding: 1em;
    width: 12.75em;
    color: black;
}

.legend-police-to-me {
    border: 2px solid grey;
    padding: 1em;
    width: 12.75em;
}

text {
    cursor: default;
}

.colors-horizontal {
    width: 3em;
}

.title__container {
    display: flex;
    align-items: center;
}

/* Buttons */
button:focus {
    outline :0;
}

#button__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 84%;
    margin: 0em auto;
    margin-top: 10em;
}

.navigation-button {
    background-color: #FFF33D;
    color: black;
    border: none;
    padding: 1em;
    font-family: Rubik-bold;
    cursor: pointer;
    width: 15em;
}

.active {
    background-color: #ffffff;
    outline: .15rem solid #FFFFFF;
    outline-offset: .2rem;
}

.inactive {
    background-color: #FFF33D;
    outline: .15rem solid #FFF33D;
    outline-offset: .2rem;
}

.inactive:hover {
    background-color: rgb(251, 243, 123);
    outline: .2rem solid rgb(251, 243, 123);
}

/* Hide and show content */
.visible {
    display: block;
    position: relative;
    /* display: flex;
    justify-items: center;
    flex-direction: column; */
}

.count__container {
    position: absolute;
    padding: 1em;
    top: -1em;
    right: 0em;
    text-align: center;
}

.count-text {
    font-family: Roboto-medium;
    margin: 0em auto;
}

.count-number {
    margin: .5em auto 0em auto;
    font-size: 1.5em;
}

.hidden {
   display: none;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: .8rem;
    font-family: Roboto-light;
}

.d3-tip h4{
    font-family: Rubik;
}

.dynamic-legend {
    width: 32em;
}

.dynamic-legend__container {
    margin-left: 1em;
}

#tipSVG {
    width: 25em;
}

  
/* Creates a small triangle extender for the tooltip */
/* .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    line-height: 1;
    color: red;
    content: "\25BC";
    position: absolute;
    text-align: center;
} */
  
/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: 100px 0 0 0;
    top: 100%;
    left: 0;
}

/* rect{
    opacity: .5;
} */

rect:hover{
    opacity: 1;
}

.gevolg{
    width: 90%;
}

@media screen and (max-width: 320px){
}

@media screen and (max-width: 600px){
    #introduction__container {
        width: 80%;
    }
    #top__container, #bottom__container {
        width: 100%;
    }
}