/* Yellow: #FFF33D */
/* Blue: #0048FF */
/* Red: #FC3E46 */

/* Fonts */
@font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);;
}

@font-face {
    font-family: Roboto-light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background: url('./images/background.png') fixed;
    background-size: 100%;
    object-fit: cover;
    width: 100%;
    background-size: contain;
}

#top {
    height: 100vh;
}

#bottom {
    height: 100vh;
}

h1 {
    color: #FFF33D;
    font-family: Rubik;
    text-align: center;
    padding: 0em;
}

h2 {
    color: #FFF33D;
    font-family: Rubik;
    padding: 0em;
}

.title {
    text-align: left;
    margin-left: 2em;
    width: 30em;
}

#introduction__container {
    background-color: black;
    width: 65%;
    padding: .5em 1.5em;
    margin: 0em auto 2em auto;
}

#introduction {
   color: white;
   font-family: Roboto-light;
   line-height: 1.5em;
}

#visualisations__container {
    color: white;
    background-color: black;
    width: 80%;
    height: 80%;
    margin: 0em auto;
    padding-top: 1em;
}

#step2 {
    text-align: center;
}

/* Pie chart */
.pie {
    margin-left: 10em;
}

.pie path:hover {
    opacity: 0.9;
}

.pie__container {
    display: flex;
}

/* Trust grades */
#trust__container {
    margin: 0em auto;
    width: 65%;
    font-family: Roboto-regular;
    background-color: black;
    padding: .5em 1.5em;
}

#trust-grades__container {
    display: flex;
    justify-content: space-between
}

.trust-grade__container {
    color: white;
    max-width: 25%;
    text-align: center;
}

.trust-grade__container h3 {
    height: 2em;
    margin-bottom: 3em;
    margin-top: 0.2em;
}

.trust-grade__container p {
    font-size: 3em;
    margin: 0em 0em .3em 0em;
}

/* Legend */
.legend {
    list-style: none;
    font-family: Roboto-light;
}

.NL {
    color: #FF3333;
}

.WM {
    color: #FF9933;
}

.NWM {
    color: #FFCC99;
}

/* Buttons */
button:focus {
    outline :0;
}

#button__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
}

.navigation-button {
    border-radius: .3rem;
    background-color: #FFF33D;
    color: black;
    border: none;
    padding: 1em;
    margin-right: 2em;
    font-family: Rubik;
    cursor: pointer;
}

.active {
    background-color: #ffffff;
    outline: .15rem solid #FFFFFF;
    outline-offset: .2rem;
}

.inactive {
    background-color: #FFF33D;
    outline: .15rem solid #FFF33D;
    outline-offset: .2rem;
}

/* Hide and show content */
.visible {
    display: block;
    /* display: flex;
    justify-items: center;
    flex-direction: column; */
}

.hidden {
   display: none;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: .8rem;
    font-family: Roboto-light;
}

.d3-tip h4{
    font-family: Rubik;
}
  
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}